flow.json
[
    {
        "id": "be9f64fbc3682d16",
        "type": "tab",
        "label": "Поток 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "692c798b6f9c61de",
        "type": "tab",
        "label": "Поток 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "047eb3a926d53708",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d00d5011b39e864",
        "type": "group",
        "z": "692c798b6f9c61de",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "08668851e35452e7",
            "500b54e0a15a8024",
            "36afbbbff6d2c65b",
            "ce7d8954c3709df1",
            "faee72dd518c80d8",
            "3b2f1e24dd57ae16",
            "9abed7ada415d9df",
            "441911e97e3e496a",
            "fc779dbf7b54cf43",
            "1d8a47cdf963be97",
            "3670137b10bbba0d",
            "14bd0ee69f8813fe",
            "8c4c06114feb911e",
            "f7faf28598d57587",
            "6c4380ae11333540",
            "6b1d8a7811858a5f",
            "e23ab7d6df19c086",
            "f9854082c6f330fa",
            "31d364e6be3997dd",
            "8c8a2053b1a0ceea",
            "1951b0e939a5d670"
        ],
        "x": 14,
        "y": 499,
        "w": 692,
        "h": 742
    },
    {
        "id": "b2257f44a2c51e87",
        "type": "group",
        "z": "692c798b6f9c61de",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7fd6557c497b4c1e",
            "80534b3e373cf5db",
            "af8dcc2750985ece",
            "392bed8f5131614f",
            "c49221a23de934fa",
            "11814495f9387d3c",
            "913abd1f5c57f1b2",
            "f188d012945c3966",
            "f7673a2b0876c467",
            "edc132442e785b85",
            "74d7e54cc946196e",
            "f0bda0e408f066c3",
            "410d950420bd3341"
        ],
        "x": 734,
        "y": 499,
        "w": 652,
        "h": 522
    },
    {
        "id": "79737e067a3af084",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "11f61d797ff1ae20",
        "type": "mqtt-broker",
        "name": "158.85.225.154",
        "broker": "158.85.225.154",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "64d879d816cdb063",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ff66d7be436a7f37",
        "type": "ui_group",
        "d": true,
        "name": "input settings",
        "tab": "11354ae062708b32",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11354ae062708b32",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b76cefdaf9bc6c8b",
        "type": "ui_tab",
        "name": "AIR-CR",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "91a9ce4bbf4bb377",
        "type": "ui_group",
        "name": "Settings",
        "tab": "b76cefdaf9bc6c8b",
        "order": 2,
        "disp": false,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d68e7be3.88f088",
        "type": "ui_group",
        "d": true,
        "name": "Forms Example",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "54bca71e.4287f",
        "type": "ui_group",
        "d": true,
        "name": "Form",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "fc491a4cada0492f",
        "type": "ui_group",
        "name": "Header",
        "tab": "b76cefdaf9bc6c8b",
        "order": 1,
        "disp": false,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "78fe50a055b65ca2",
        "type": "ui_group",
        "name": "Control",
        "tab": "b76cefdaf9bc6c8b",
        "order": 3,
        "disp": false,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b8f04eec870808a",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "fc491a4cada0492f",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "c396cee1a494be5f",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "fc491a4cada0492f",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "607f4a6090463b29",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "fc491a4cada0492f",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "023c381dfb5fd3e0",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "91a9ce4bbf4bb377",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "a410c312bc27b564",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "91a9ce4bbf4bb377",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "22c41f8ef5794402",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "91a9ce4bbf4bb377",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "cfc97600b5fa378e",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "91a9ce4bbf4bb377",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "ace834cad7f6fd0f",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "91a9ce4bbf4bb377",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "7e7885b07e6eb614",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "91a9ce4bbf4bb377",
        "order": 26,
        "width": 16,
        "height": 1
    },
    {
        "id": "836d4399c6314a51",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "91a9ce4bbf4bb377",
        "order": 29,
        "width": 16,
        "height": 1
    },
    {
        "id": "4caba60e5e1a7b66",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "91a9ce4bbf4bb377",
        "order": 32,
        "width": 16,
        "height": 1
    },
    {
        "id": "865bf96be6ebeb06",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "91a9ce4bbf4bb377",
        "order": 35,
        "width": 16,
        "height": 1
    },
    {
        "id": "d89073fc9e96bb51",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "91a9ce4bbf4bb377",
        "order": 36,
        "width": 30,
        "height": 1
    },
    {
        "id": "87bb3a8249007216",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "91a9ce4bbf4bb377",
        "order": 38,
        "width": 2,
        "height": 1
    },
    {
        "id": "86844220c35d66b5",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "78fe50a055b65ca2",
        "order": 2,
        "width": 21,
        "height": 1
    },
    {
        "id": "f23c617d88f8e690",
        "type": "ui_spacer",
        "z": "692c798b6f9c61de",
        "name": "spacer",
        "group": "78fe50a055b65ca2",
        "order": 5,
        "width": 11,
        "height": 1
    },
    {
        "id": "1fddf0a8d296909f",
        "type": "inject",
        "z": "be9f64fbc3682d16",
        "name": "set configuration",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "ece8f4a0d519aec2"
            ]
        ]
    },
    {
        "id": "ece8f4a0d519aec2",
        "type": "file in",
        "z": "be9f64fbc3682d16",
        "name": "",
        "filename": "C:\\air_cr\\air_cr_conf.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "522050f7948dbbe1"
            ]
        ]
    },
    {
        "id": "3b8c508c929084e6",
        "type": "mqtt in",
        "z": "be9f64fbc3682d16",
        "name": "224/147/registration/15643804/",
        "topic": "224/147/registration/15643804/#",
        "qos": "0",
        "datatype": "json",
        "broker": "79737e067a3af084",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "e52a703e720e6788"
            ]
        ]
    },
    {
        "id": "522050f7948dbbe1",
        "type": "debug",
        "z": "be9f64fbc3682d16",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "70cedf33c431ae57",
        "type": "switch",
        "z": "be9f64fbc3682d16",
        "name": "conf complete message",
        "property": "payload.conf_status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 340,
        "wires": [
            [
                "6aa902310eb9139d"
            ]
        ]
    },
    {
        "id": "193f180db0be3905",
        "type": "debug",
        "z": "be9f64fbc3682d16",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "6aa902310eb9139d",
        "type": "template",
        "z": "be9f64fbc3682d16",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "configuration status: {{payload.conf_status}}",
        "output": "str",
        "x": 880,
        "y": 340,
        "wires": [
            [
                "193f180db0be3905"
            ]
        ]
    },
    {
        "id": "34a89c8a9582d232",
        "type": "switch",
        "z": "be9f64fbc3682d16",
        "name": "event message",
        "property": "payload.operator",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Event",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 640,
        "y": 440,
        "wires": [
            [
                "86975e273f042696"
            ]
        ]
    },
    {
        "id": "fa3d016086c7c693",
        "type": "file",
        "z": "be9f64fbc3682d16",
        "name": "logging",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1520,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "bca885cf7fd7a60a",
        "type": "template",
        "z": "be9f64fbc3682d16",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{{payload.current_time}}] group - {{payload.info.Group}}, cpoint_idx - {{payload.info.Ctp_idx}}, event id - {{payload.info.Event_id}}",
        "output": "str",
        "x": 1280,
        "y": 440,
        "wires": [
            [
                "fa3d016086c7c693",
                "309c0fedd466acbe"
            ]
        ]
    },
    {
        "id": "86975e273f042696",
        "type": "function",
        "z": "be9f64fbc3682d16",
        "name": "set filename with current date",
        "func": "\nmsg.filename = \"C:/air_cr/\" + msg.myymd + \".txt\"\nmsg.payload.current_time = msg.mytimes\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 440,
        "wires": [
            [
                "bca885cf7fd7a60a"
            ]
        ]
    },
    {
        "id": "e52a703e720e6788",
        "type": "simpletime",
        "z": "be9f64fbc3682d16",
        "name": "add time",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "70cedf33c431ae57",
                "34a89c8a9582d232"
            ]
        ]
    },
    {
        "id": "309c0fedd466acbe",
        "type": "debug",
        "z": "be9f64fbc3682d16",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 500,
        "wires": []
    },
    {
        "id": "4fa2839622e9ccb5",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "name": "Account ID",
        "label": "Account ID",
        "tooltip": "",
        "group": "fc491a4cada0492f",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "aid",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "6638c344b98c3138"
            ]
        ]
    },
    {
        "id": "4ace46e7e6f5bb94",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "name": "Company ID",
        "label": "Company ID",
        "tooltip": "",
        "group": "fc491a4cada0492f",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "cid",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "6638c344b98c3138"
            ]
        ]
    },
    {
        "id": "6638c344b98c3138",
        "type": "function",
        "z": "692c798b6f9c61de",
        "name": "setUserCreds",
        "func": "// initialise the counter to 0 if it doesn't exist already\nlet tempUserCreds = global.get('tempUserCreds') || {};\n\ntempUserCreds = Object.assign(tempUserCreds, { [msg.topic]: msg.payload })\n\nglobal.set('tempUserCreds', tempUserCreds)\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d6fd04db60c00fec",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "name": "Control point ID",
        "label": "Control point ID",
        "tooltip": "",
        "group": "fc491a4cada0492f",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "cpid",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "6638c344b98c3138"
            ]
        ]
    },
    {
        "id": "08668851e35452e7",
        "type": "ui_dropdown",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Rd0_dir",
        "label": "Rd0_dir",
        "tooltip": "",
        "place": "",
        "group": "91a9ce4bbf4bb377",
        "order": 5,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "entry",
                "value": 0,
                "type": "num"
            },
            {
                "label": "exit",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "Rd0_dir",
        "topicType": "str",
        "className": "",
        "x": 220,
        "y": 640,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "500b54e0a15a8024",
        "type": "function",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "SetCtpDoor",
        "func": "\n// initialise the counter to 0 if it doesn't exist already\nlet stpDoorSet = global.get('stpDoorSet') || {};\n\nstpDoorSet = Object.assign(stpDoorSet, {[msg.topic]:msg.payload})\n\nglobal.set('stpDoorSet', stpDoorSet)\n\n// msg.payload = inputSettings\n\n// return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "36afbbbff6d2c65b",
        "type": "function",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "sendMqttMessage",
        "func": "msg.payload = global.get('stpDoorSet');\nlet userCreds = global.get('userCreds');\nlet globalTopic = userCreds.aid + \"/\" + userCreds.cid + \"/\" + \"registration\" + \"/\" + userCreds.cpid + \"/\"\n\nlet msgWrapper = {}\nmsgWrapper.operator = \"SetCtpDoor\"\nmsgWrapper.session_id = \"0\"\nmsgWrapper.message_id = Math.floor(Math.random() * 1692797271182);\nmsgWrapper.info = global.get('stpDoorSet');\n\nmsg.payload = msgWrapper\nmsg.topic = globalTopic + \"Operate\" + \"/\"\n\nglobal.set('messageId', msgWrapper.message_id)\n\nlet ackSubtopic = {}\nackSubtopic.action = \"subscribe\"\nackSubtopic.topic = globalTopic + \"Ack\" + \"/\"\n\nreturn [msg, ackSubtopic]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1040,
        "wires": [
            [
                "8c8a2053b1a0ceea"
            ]
        ]
    },
    {
        "id": "ce7d8954c3709df1",
        "type": "ui_dropdown",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Door_sens_Condition",
        "label": "Door_sens_Condition",
        "tooltip": "",
        "place": "Door_sens_Condition",
        "group": "91a9ce4bbf4bb377",
        "order": 15,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Open",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Close",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Change",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "Door_sens_Condition",
        "topicType": "str",
        "className": "",
        "x": 180,
        "y": 800,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "faee72dd518c80d8",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Control_point_idx_DUMMY",
        "label": "Control_point_idx",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 9,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Control_point_idx",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "3b2f1e24dd57ae16",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Door_sens_opt",
        "label": "Door_sens_opt",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 10,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Door_sens_opt",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "9abed7ada415d9df",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Door_sens_idx",
        "label": "Door_sens_idx",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 14,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Door_sens_idx",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 200,
        "y": 760,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "441911e97e3e496a",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Lock_Relay_opt",
        "label": "Lock_Relay_opt",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 19,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Lock_Relay_opt",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 200,
        "y": 840,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "fc779dbf7b54cf43",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Lock_Relay_idx",
        "label": "Lock_Relay_idx",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 20,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Lock_Relay_idx",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 200,
        "y": 880,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "1d8a47cdf963be97",
        "type": "ui_dropdown",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Door_Lock_mode",
        "label": "Door_Lock_mode",
        "tooltip": "",
        "place": "Select option",
        "group": "91a9ce4bbf4bb377",
        "order": 24,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "trigger",
                "value": 0,
                "type": "num"
            },
            {
                "label": "impulse",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "Door_Lock_mode",
        "topicType": "str",
        "className": "",
        "x": 190,
        "y": 920,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "3670137b10bbba0d",
        "type": "ui_dropdown",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Door_Lock_type",
        "label": "Door_Lock_type",
        "tooltip": "",
        "place": "Select option",
        "group": "91a9ce4bbf4bb377",
        "order": 25,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "N-Opened",
                "value": 0,
                "type": "num"
            },
            {
                "label": "N-Closed",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "Door_Lock_type",
        "topicType": "str",
        "className": "",
        "x": 200,
        "y": 960,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "14bd0ee69f8813fe",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Door_Lock_puls",
        "label": "Door_Lock_puls",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 27,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Door_Lock_puls",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 200,
        "y": 1000,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "8c4c06114feb911e",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Door_Delay",
        "label": "Door_Delay",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 28,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Door_Delay",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 210,
        "y": 1040,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "f7faf28598d57587",
        "type": "ui_switch",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Door_Sens_Autolock",
        "label": "Door_Sens_Autolock",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 30,
        "width": 7,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "Door_Sens_Autolock",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "6c4380ae11333540",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Button_rex_opt",
        "label": "Button_rex_opt",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 31,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Button_rex_opt",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 200,
        "y": 1120,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "6b1d8a7811858a5f",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Button_rex_idx",
        "label": "Button_rex_idx",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 33,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Button_rex_idx",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 200,
        "y": 1160,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "e23ab7d6df19c086",
        "type": "ui_dropdown",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Button_rex_Condition",
        "label": "Button_rex_Condition",
        "tooltip": "",
        "place": "Select option",
        "group": "91a9ce4bbf4bb377",
        "order": 34,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Open",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Close",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Change",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "Button_rex_Condition",
        "topicType": "str",
        "className": "",
        "x": 180,
        "y": 1200,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "f9854082c6f330fa",
        "type": "ui_button",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "",
        "group": "91a9ce4bbf4bb377",
        "order": 37,
        "width": 14,
        "height": 1,
        "passthru": false,
        "label": "Submit stpDoor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 600,
        "y": 960,
        "wires": [
            [
                "36afbbbff6d2c65b"
            ]
        ]
    },
    {
        "id": "31d364e6be3997dd",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "Rd0_idx",
        "label": "Rd0_idx",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 4,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Rd0_idx",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 220,
        "y": 600,
        "wires": [
            [
                "500b54e0a15a8024"
            ]
        ]
    },
    {
        "id": "8c8a2053b1a0ceea",
        "type": "mqtt out",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "11f61d797ff1ae20",
        "x": 610,
        "y": 1100,
        "wires": []
    },
    {
        "id": "1951b0e939a5d670",
        "type": "ui_text",
        "z": "692c798b6f9c61de",
        "g": "3d00d5011b39e864",
        "group": "91a9ce4bbf4bb377",
        "order": 1,
        "width": 14,
        "height": 1,
        "name": "Set Ctp Door",
        "label": "Set Ctp Door",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 210,
        "y": 540,
        "wires": []
    },
    {
        "id": "f35f7ebd59ad5459",
        "type": "ui_ui_control",
        "z": "692c798b6f9c61de",
        "name": "",
        "events": "change",
        "x": 820,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ec7459b197b9c702",
        "type": "ui_button",
        "z": "692c798b6f9c61de",
        "name": "Settings",
        "group": "fc491a4cada0492f",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Settings",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "settings_btn",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"AIR-CR_Control\"],\"show\":[\"AIR-CR_Settings\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 100,
        "wires": [
            [
                "f35f7ebd59ad5459"
            ]
        ]
    },
    {
        "id": "cc2c84ed43d311b3",
        "type": "ui_button",
        "z": "692c798b6f9c61de",
        "name": "Control",
        "group": "fc491a4cada0492f",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Control",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "control_btn",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"AIR-CR_Settings\"],\"show\":[\"AIR-CR_Control\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 140,
        "wires": [
            [
                "f35f7ebd59ad5459"
            ]
        ]
    },
    {
        "id": "6d7ac608b771c09f",
        "type": "function",
        "z": "692c798b6f9c61de",
        "name": "dashboardInit",
        "func": "msg.payload.group = {\n    \"hide\": [\"AIR-CR_Control\"],\n    \"show\": [\"AIR-CR_Settings\"]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 40,
        "wires": [
            [
                "f35f7ebd59ad5459"
            ]
        ]
    },
    {
        "id": "dba127a888a49b39",
        "type": "ui_template",
        "z": "692c798b6f9c61de",
        "group": "fc491a4cada0492f",
        "name": "",
        "order": 10,
        "width": 3,
        "height": 1,
        "format": "<style>\n    .md-button {\n        background-color: #17D0FA; !important;\n    }\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 960,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "88f9361be756f961",
        "type": "ui_button",
        "z": "692c798b6f9c61de",
        "name": "Open",
        "group": "78fe50a055b65ca2",
        "order": 4,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Open",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "open_btn",
        "icon": "",
        "payload": "unlocked",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 1380,
        "wires": [
            [
                "d6765f34883a6bc1"
            ]
        ]
    },
    {
        "id": "7bda40ae5d0419f4",
        "type": "ui_button",
        "z": "692c798b6f9c61de",
        "name": "Close",
        "group": "78fe50a055b65ca2",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Close",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "close_btn",
        "icon": "",
        "payload": "locked",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 1440,
        "wires": [
            [
                "d6765f34883a6bc1"
            ]
        ]
    },
    {
        "id": "0b88f25bf185f363",
        "type": "ui_button",
        "z": "692c798b6f9c61de",
        "name": "Credentials",
        "group": "78fe50a055b65ca2",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Credentials",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "creds_btn",
        "icon": "",
        "payload": "credentials",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 110,
        "y": 1500,
        "wires": [
            [
                "d6765f34883a6bc1"
            ]
        ]
    },
    {
        "id": "d6765f34883a6bc1",
        "type": "function",
        "z": "692c798b6f9c61de",
        "name": "sendMqttMessage",
        "func": "\nlet userCreds = global.get('userCreds');\nlet globalTopic = userCreds.aid + \"/\" + userCreds.cid + \"/\" + \"registration\" + \"/\" + userCreds.cpid + \"/\"\nlet control_cpIdx = global.get('control_cpIdx');\n\n\nlet msgWrapper = {}\nmsgWrapper.operator = \"SetAccessMode\"\nmsgWrapper.session_id = \"0\"\nmsgWrapper.message_id = Math.floor(Math.random() * 1692797271182).toString();\n\nmsgWrapper.info = {}\nmsgWrapper.info.Control_point_idx = control_cpIdx\nmsgWrapper.info.Access_mode = msg.payload\n\nmsg.payload = msgWrapper\nmsg.topic = globalTopic + \"Operate\" + \"/\"\n\nglobal.set('messageId', msgWrapper.message_id)\n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1440,
        "wires": [
            [
                "8ceb1c5b5fb6e7d7"
            ]
        ]
    },
    {
        "id": "8ceb1c5b5fb6e7d7",
        "type": "mqtt out",
        "z": "692c798b6f9c61de",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "11f61d797ff1ae20",
        "x": 570,
        "y": 1360,
        "wires": []
    },
    {
        "id": "6c8acdd459e657eb",
        "type": "ui_toast",
        "z": "692c798b6f9c61de",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Ack info",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "9e5fe1c3fe6f0503",
        "type": "mqtt in",
        "z": "692c798b6f9c61de",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "11f61d797ff1ae20",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "4c30f9b315530f2a"
            ]
        ]
    },
    {
        "id": "1302f6d68dca2105",
        "type": "ui_button",
        "z": "692c798b6f9c61de",
        "name": "Enter data",
        "group": "fc491a4cada0492f",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Enter data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "2b2d85fbc2c145a5"
            ]
        ]
    },
    {
        "id": "2b2d85fbc2c145a5",
        "type": "function",
        "z": "692c798b6f9c61de",
        "name": "connect",
        "func": "let tempUserCreds = RED.util.cloneMessage(global.get('tempUserCreds'))\n\nglobal.set('userCreds', tempUserCreds)\n\nlet globalTopic = tempUserCreds.aid + \"/\" + tempUserCreds.cid + \"/\" + \"registration\" + \"/\" + tempUserCreds.cpid + \"/\"\n\n\nmsg.action = \"subscribe\"\nmsg.topic = globalTopic + \"#\"\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 300,
        "wires": [
            [
                "9e5fe1c3fe6f0503"
            ]
        ]
    },
    {
        "id": "32d53427bced070c",
        "type": "ui_table",
        "z": "692c798b6f9c61de",
        "group": "78fe50a055b65ca2",
        "name": "",
        "order": 7,
        "width": 30,
        "height": 10,
        "columns": [
            {
                "field": "Group",
                "title": "Group",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Ctp_idx",
                "title": "Ctp_idx",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Event_id",
                "title": "Event_id",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Direction",
                "title": "Direction",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Key_id",
                "title": "Key_id",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Key_HEX",
                "title": "Key_HEX",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "time",
                "title": "time",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "gmt",
                "title": "gmt",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "4c30f9b315530f2a",
        "type": "switch",
        "z": "692c798b6f9c61de",
        "name": "",
        "property": "payload.operator",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Event",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetAccessMode-Ack",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "160ef0c3c55613af"
            ],
            [
                "95c8a2503541cab9"
            ]
        ]
    },
    {
        "id": "160ef0c3c55613af",
        "type": "function",
        "z": "692c798b6f9c61de",
        "name": "handleEvent",
        "func": "let eventInfoWrapper = {}\nlet eventInfo = {}\n\neventInfo = msg.payload.info\neventInfoWrapper.payload = {}\neventInfoWrapper.payload.command = \"addData\"\neventInfoWrapper.payload.arguments = [eventInfo, true]\n\nreturn eventInfoWrapper;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 340,
        "wires": [
            [
                "32d53427bced070c"
            ]
        ]
    },
    {
        "id": "95c8a2503541cab9",
        "type": "function",
        "z": "692c798b6f9c61de",
        "name": "handleAck",
        "func": "let ackInfo = {}\nlet messageId = global.get(\"messageId\")\n\nif (messageId === parseInt(msg.payload.message_id)) {\n    if (msg.payload.result.errorNo === 0) {\n        ackInfo.topic = \"Success\"\n        ackInfo.payload = \"Done\"\n        console.log(\"errorNo: 0\")\n\n    } else {\n        ackInfo.topic = \"Error\"\n        ackInfo.payload = \"error\"\n        console.log(\"error\")\n    }\n}\n\nreturn ackInfo;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 400,
        "wires": [
            [
                "6c8acdd459e657eb"
            ]
        ]
    },
    {
        "id": "7fd6557c497b4c1e",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "g": "b2257f44a2c51e87",
        "name": "Rd_idx",
        "label": "Rd_idx",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 7,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Rd_idx",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 940,
        "y": 580,
        "wires": [
            [
                "f7673a2b0876c467"
            ]
        ]
    },
    {
        "id": "80534b3e373cf5db",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "g": "b2257f44a2c51e87",
        "name": "Control_point_idx_DUMMY",
        "label": "Control_point_idx",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 8,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Control_point_idx",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 880,
        "y": 620,
        "wires": [
            [
                "f7673a2b0876c467"
            ]
        ]
    },
    {
        "id": "af8dcc2750985ece",
        "type": "ui_dropdown",
        "z": "692c798b6f9c61de",
        "g": "b2257f44a2c51e87",
        "name": "Rd_opt",
        "label": "Rd_opt",
        "tooltip": "",
        "place": "Select option",
        "group": "91a9ce4bbf4bb377",
        "order": 12,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Embedded Reader",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Wiegand",
                "value": 1,
                "type": "num"
            },
            {
                "label": "OSDP",
                "value": 2,
                "type": "num"
            },
            {
                "label": "MQTT",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Ethernet",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "Rd_opt",
        "topicType": "str",
        "className": "",
        "x": 940,
        "y": 660,
        "wires": [
            [
                "f7673a2b0876c467"
            ]
        ]
    },
    {
        "id": "392bed8f5131614f",
        "type": "ui_dropdown",
        "z": "692c798b6f9c61de",
        "g": "b2257f44a2c51e87",
        "name": "Rd_Direction",
        "label": "Rd_Direction",
        "tooltip": "",
        "place": "Select option",
        "group": "91a9ce4bbf4bb377",
        "order": 13,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Entry",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Exit",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "Rd_Direction",
        "topicType": "str",
        "className": "",
        "x": 930,
        "y": 700,
        "wires": [
            [
                "f7673a2b0876c467"
            ]
        ]
    },
    {
        "id": "c49221a23de934fa",
        "type": "ui_dropdown",
        "z": "692c798b6f9c61de",
        "g": "b2257f44a2c51e87",
        "name": "Rd_Key_endian",
        "label": "Rd_Key_endian",
        "tooltip": "",
        "place": "Select option",
        "group": "91a9ce4bbf4bb377",
        "order": 17,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Big endian",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Little endian",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "Rd_Key_endian",
        "topicType": "str",
        "className": "",
        "x": 920,
        "y": 740,
        "wires": [
            [
                "f7673a2b0876c467"
            ]
        ]
    },
    {
        "id": "11814495f9387d3c",
        "type": "ui_dropdown",
        "z": "692c798b6f9c61de",
        "g": "b2257f44a2c51e87",
        "name": "Rd_beep",
        "label": "Rd_beep",
        "tooltip": "",
        "place": "Select option",
        "group": "91a9ce4bbf4bb377",
        "order": 18,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Sound on",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Sound off",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "Rd_beep",
        "topicType": "str",
        "className": "",
        "x": 940,
        "y": 780,
        "wires": [
            [
                "f7673a2b0876c467"
            ]
        ]
    },
    {
        "id": "913abd1f5c57f1b2",
        "type": "ui_dropdown",
        "z": "692c798b6f9c61de",
        "g": "b2257f44a2c51e87",
        "name": "Rd_Wg_type",
        "label": "Rd_Wg_type",
        "tooltip": "",
        "place": "Select option",
        "group": "91a9ce4bbf4bb377",
        "order": 22,
        "width": 7,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Wiegand 4",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Wiegand 8",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Wiegand 26",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Wiegand 34",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Wiegand 37",
                "value": "4",
                "type": "str"
            },
            {
                "label": "Wiegand 40",
                "value": "5",
                "type": "str"
            },
            {
                "label": "Wiegand 42",
                "value": "6",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Rd_Wg_type",
        "topicType": "str",
        "className": "",
        "x": 930,
        "y": 820,
        "wires": [
            [
                "f7673a2b0876c467"
            ]
        ]
    },
    {
        "id": "f188d012945c3966",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "g": "b2257f44a2c51e87",
        "name": "Rd_Wg_idx",
        "label": "Rd_Wg_idx",
        "tooltip": "",
        "group": "91a9ce4bbf4bb377",
        "order": 23,
        "width": 7,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Rd_Wg_idx",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 930,
        "y": 860,
        "wires": [
            [
                "f7673a2b0876c467"
            ]
        ]
    },
    {
        "id": "f7673a2b0876c467",
        "type": "function",
        "z": "692c798b6f9c61de",
        "g": "b2257f44a2c51e87",
        "name": "SetRd",
        "func": "// initialise the counter to 0 if it doesn't exist already\nlet rdSet = global.get('rdSet') || {};\n\nrdSet = Object.assign(rdSet, { [msg.topic]: msg.payload })\n\nglobal.set('rdSet', rdSet)\n\n// msg.payload = inputSettings\n\n// return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "edc132442e785b85",
        "type": "ui_button",
        "z": "692c798b6f9c61de",
        "g": "b2257f44a2c51e87",
        "name": "",
        "group": "91a9ce4bbf4bb377",
        "order": 39,
        "width": 14,
        "height": 1,
        "passthru": false,
        "label": "Submit Rd",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1150,
        "y": 860,
        "wires": [
            [
                "74d7e54cc946196e"
            ]
        ]
    },
    {
        "id": "74d7e54cc946196e",
        "type": "function",
        "z": "692c798b6f9c61de",
        "g": "b2257f44a2c51e87",
        "name": "sendMqttMessage",
        "func": "msg.payload = global.get('rdSet');\nlet userCreds = global.get('userCreds');\n\nlet globalTopic = userCreds.aid + \"/\" + userCreds.cid + \"/\" + \"registration\" + \"/\" + userCreds.cpid + \"/\"\n\nlet msgWrapper = {}\nmsgWrapper.operator = \"SetRd\"\nmsgWrapper.session_id = \"0\"\nmsgWrapper.message_id = Math.floor(Math.random() * 1692797271182);\nmsgWrapper.info = global.get('rdSet');\n\nmsg.payload = msgWrapper\nmsg.topic = globalTopic + \"Operate\" + \"/\"\n\nglobal.set('messageId', msgWrapper.message_id)\n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 920,
        "wires": [
            [
                "410d950420bd3341"
            ]
        ]
    },
    {
        "id": "f0bda0e408f066c3",
        "type": "ui_text",
        "z": "692c798b6f9c61de",
        "g": "b2257f44a2c51e87",
        "group": "91a9ce4bbf4bb377",
        "order": 3,
        "width": 14,
        "height": 1,
        "name": "",
        "label": "Set reader",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 540,
        "wires": []
    },
    {
        "id": "410d950420bd3341",
        "type": "mqtt out",
        "z": "692c798b6f9c61de",
        "g": "b2257f44a2c51e87",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "11f61d797ff1ae20",
        "x": 1170,
        "y": 980,
        "wires": []
    },
    {
        "id": "02f2de19b7b337bc",
        "type": "ui_text_input",
        "z": "692c798b6f9c61de",
        "name": "Control_point_idx",
        "label": "Control_point_idx",
        "tooltip": "",
        "group": "78fe50a055b65ca2",
        "order": 1,
        "width": 9,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "Control_point_idx",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "1cbac974e1dbb470"
            ]
        ]
    },
    {
        "id": "1cbac974e1dbb470",
        "type": "function",
        "z": "692c798b6f9c61de",
        "name": "function 1",
        "func": "\nglobal.set('control_cpIdx', msg.payload)\n\n// msg.payload = inputSettings\n\n// return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1320,
        "wires": [
            []
        ]
    }
]